* {
  padding: 0;
  border: 0;
  color: white;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Bitter', serif;
  background-image: linear-gradient(to top, #005583, #003554);
  font-style: italic;
  font-weight: 500;
  width: 100%;
  height: 1200px;
  margin: inherit;
  animation-name: menumenu;
  animation-duration: 1s; }

nav img {
  height: 275px; }

nav ul {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px; }
  nav ul li {
    list-style-type: none;
    width: 18%;
    display: inline-block;
    text-align: center; }
    nav ul li a {
      text-decoration: none !important;
      color: white;
      font-size: 200%; }

.nav__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "lg lg " "tit tit" "men men";
  justify-items: center;
  justify-content: space-around; }

.logo {
  grid-area: lg; }

.menu {
  background-image: linear-gradient(to top, #0582CA 60%, white);
  grid-area: men;
  border: solid 2px white;
  height: 90%;
  width: 95%;
  box-shadow: 0 8px 20px black; }

.header__title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 250%;
  color: #00A6FB;
  display: inline;
  text-align: center;
  grid-area: tit;
  margin: 20px; }

nav ul li:hover {
  transform: skew(-20deg);
  background-color: black;
  transition: all 1s; }

main {
  margin: 20px; }
  main .main__box {
    border: solid 1px white;
    background-image: linear-gradient(to right, #005194, #006caa);
    height: 100%;
    align-items: center;
    display: flex;
    opacity: 95%;
    box-shadow: 0 8px 20px black;
    justify-content: space-around; }
    main .main__box .main__field {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      margin: auto;
      justify-items: center;
      justify-content: space-around; }
      main .main__box .main__field form {
        margin: 10px;
        height: 200; }
        main .main__box .main__field form input {
          color: black; }
      main .main__box .main__field label {
        font-size: 20px; }
  main .main__catalogo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    margin-top: 15px; }
    main .main__catalogo h5 {
      color: black; }
    main .main__catalogo p {
      color: black; }
    main .main__catalogo .card {
      flex: 1 1 200px;
      /*  Stretching: */
      flex: 0 1 200px;
      /*  No stretching: */
      margin: 5px; }

#gridImg {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 400px 200px;
  grid-template-areas: "a1 a3" "a2 a2";
  column-gap: 100px;
  row-gap: 30px;
  justify-items: center;
  justify-content: center;
  text-align: center; }
  #gridImg .imgProp, #gridImg .imgUno img, #gridImg .imgDos, #gridImg .imgTres img {
    height: 100%;
    width: 100%; }
  #gridImg .imgUno img {
    grid-area: a1; }
  #gridImg .imgDos {
    grid-area: a2; }
    #gridImg .imgDos p {
      color: #00A6FB;
      font-size: 25px;
      line-height: 200%; }
  #gridImg .imgTres img {
    grid-area: a3; }

footer {
  display: grid;
  justify-items: center;
  position: fixed;
  background-color: #dbdbdb;
  bottom: 0%;
  margin: 0%;
  width: 100%;
  height: 75px; }
  footer h6 {
    color: black;
    text-align: start;
    font-size: 200%; }
    footer h6 div {
      position: fixed;
      bottom: 20px;
      right: 20px; }
  footer .footer__redes {
    block-size: 40px;
    display: inline-block; }

.accordion-item {
  background-image: linear-gradient(to right, #005194, #006caa);
  box-shadow: 0 8px 20px black; }

#accordionExample {
  display: grid;
  width: 85%;
  margin: 10%; }

#pcBuilder {
  margin: 25px;
  font-size: 150%;
  color: #00A6FB;
  border: solid 2px white;
  box-shadow: 0 8px 20px black;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white; }

#pcBuilderHref {
  margin: 25px;
  font-size: 200%;
  color: grey;
  border: solid 2px white;
  box-shadow: 0 8px 20px black;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white; }

@keyframes menumenu {
  0% {
    transform: scale(0.5, 1); }
  100% {
    transform: scale(1, 1); } }

/*mobil*/
@media only screen and (max-width: 600px) {
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: black;
    border: white 1px solid;
    height: 30px;
    width: 90px;
    text-align: center; }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border: white 1px solid; }
    .dropdown-content li a {
      text-decoration: none; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .menu {
    display: none; }
  main {
    margin: 0px; }
    main .main-box {
      width: 100%; }
    main #gridImg {
      grid-template-rows: 25% 25%; }
    main #accordionExample {
      margin-left: 0px;
      margin-top: 20px;
      margin-right: 0px;
      margin-bottom: 0px;
      width: 100%; }
    main #pcBuilder {
      margin: 25px;
      font-size: 100%;
      color: #2323be;
      border: solid 2px white;
      box-shadow: 0 8px 20px black;
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      background-color: white;
      margin-left: 3rem;
      margin-right: 3rem; }
    main #pcBuilderHref {
      margin: 25px;
      font-size: 150%;
      color: grey;
      border: solid 2px white;
      box-shadow: 0 8px 20px black;
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      background-color: white;
      margin-left: 3rem;
      margin-right: 3rem; }
  footer {
    font-size: 50%; } }

@media only screen and (min-width: 600px) {
  .dropdown {
    display: none; }
  nav li {
    font-size: 70%; }
  footer {
    font-size: 65%; }
  #gridImg {
    grid-template-rows: 35% 35%; }
  #accordionExample {
    margin-top: 5%; }
  .main__catalogo {
    margin: 0%; } }

@media only screen and (min-width: 768px) {
  .dropdown {
    display: none; }
  nav li {
    font-size: 70%; }
  footer {
    font-size: 65%; }
  #gridImg {
    grid-template-rows: 35% 35%; }
  #accordionExample {
    margin-top: 5%; } }

@media only screen and (max-width: 992px) {
  nav li {
    font-size: 70%; } }
