$colorFondo:  linear-gradient(to top, #005583, #003554);
$colorFondoDeCaja: linear-gradient(to right,#005194,#006caa);

$colorFondoNav:  linear-gradient( to top, #0582CA 60%, rgb(255, 255, 255));





